<!DOCTYPE html>
<html lang="es">

	<head>
	  <title>Form</title>
	  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<!-- 	  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
<!-- 	  <script type="text/javascript" src="/webdesk/vcXMLRPC.js" charset="utf-8"></script> -->
	<link href="./css/vuetify.min.css" rel="stylesheet">
	  <link href="./css/materialdesignicons.min.css" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	  <meta charset="UTF-8">
	</head>

 	<body>
		  <div id="app">
		    <form id="totForm" name="totForm">

				<button type="button" class="btn btn-danger botonPdf" style="width:100%; display: none;" display:none
				id="btnExportarPdf">
				<i class="fluigicon fluigicon-file-pdf icon-md" style="vertical-align:middle"></i><span> Descargar
					Cotización en PDF</span>
				</button>

			
		      <input type="hidden" name="__error" id="__error" />
			  <input type="hidden" id="requestId" name="requestId" ref="requestId"></input>
			  <input type="hidden" name="numero_cotizacion" id="numero_cotizacion" ref="numero_cotizacion" />
			  <input type="hidden" name="numero_revision" id="numero_revision" ref="numero_revision" />
			  <input type="hidden" name="commercial_approved" id="commercial_approved" ref="commercial_approved" />
			  <input type="hidden" name="deadline_validation" id="deadline_validation" ref="deadline_validation" />
			  <input type="hidden" name="pedidoVenta" id="pedidoVenta" ref="pedidoVenta" />
			  <input type="hidden" name="documento_adjunto" id="documento_adjunto" ref="documento_adjunto" />
			  <input type="hidden" name="integrationStatus" id="integrationStatus" ref="integrationStatus" />
			  <input type="hidden" id="jsonModel_1" name="jsonModel_1" ref="jsonModel_1"></input>
			  <input type="hidden" id="jsonModel_2" name="jsonModel_2" ref="jsonModel_2"></input>
			  <input type="hidden" id="jsonModel_3" name="jsonModel_3" ref="jsonModel_3"></input>
			  <input type="hidden" id="jsonModel_4" name="jsonModel_4" ref="jsonModel_4"></input>
			  <input type="hidden" id="jsonModel_5" name="jsonModel_5" ref="jsonModel_5"></input>
			  <input type="hidden" id="jsonModel_6" name="jsonModel_6" ref="jsonModel_6"></input>
			  <input type="hidden" id="jsonModel_7" name="jsonModel_7" ref="jsonModel_7"></input>
			  <input type="hidden" id="jsonModel_8" name="jsonModel_8" ref="jsonModel_8"></input>
			  <input type="hidden" id="jsonModel_9" name="jsonModel_9" ref="jsonModel_9"></input>
			  <input type="hidden" id="jsonModel_10" name="jsonModel_10" ref="jsonModel_10"></input>
			  <input type="hidden" id="jsonModel_11" name="jsonModel_11" ref="jsonModel_11"></input>
			  <input type="hidden" id="jsonModel_12" name="jsonModel_12" ref="jsonModel_12"></input>
			  <input type="hidden" id="jsonModel_13" name="jsonModel_13" ref="jsonModel_13"></input>
			  <input type="hidden" id="jsonModel_14" name="jsonModel_14" ref="jsonModel_14"></input>
			  <input type="hidden" id="jsonModel_15" name="jsonModel_15" ref="jsonModel_15"></input>
			  <input type="hidden" id="jsonModel_16" name="jsonModel_16" ref="jsonModel_16"></input>
			  <input type="hidden" id="jsonModel_17" name="jsonModel_17" ref="jsonModel_17"></input>
			  <input type="hidden" id="jsonModel_18" name="jsonModel_18" ref="jsonModel_18"></input>
			  <input type="hidden" id="jsonModel_19" name="jsonModel_19" ref="jsonModel_19"></input>
			  <input type="hidden" id="jsonModel_20" name="jsonModel_20" ref="jsonModel_20"></input>
			  <input type="hidden" id="jsonModel_21" name="jsonModel_21" ref="jsonModel_21"></input>
			  <input type="hidden" id="jsonModel_22" name="jsonModel_22" ref="jsonModel_22"></input>
			  <input type="hidden" id="jsonModel_23" name="jsonModel_23" ref="jsonModel_23"></input>
			  <input type="hidden" id="jsonModel_24" name="jsonModel_24" ref="jsonModel_24"></input>
			  <input type="hidden" id="jsonModel_25" name="jsonModel_25" ref="jsonModel_25"></input>
			  <input type="hidden" id="jsonModel_26" name="jsonModel_26" ref="jsonModel_26"></input>
			  <input type="hidden" id="jsonModel_27" name="jsonModel_27" ref="jsonModel_27"></input>
			  <input type="hidden" id="jsonModel_28" name="jsonModel_28" ref="jsonModel_28"></input>
			  <input type="hidden" id="jsonModel_29" name="jsonModel_29" ref="jsonModel_29"></input>
			  <input type="hidden" id="jsonModel_30" name="jsonModel_30" ref="jsonModel_30"></input>
		    </form>
			
		    <v-app>
				<v-main>

					<!-- ===============   CARGA INICIAL DE CLIENTE  =================== -->

					<cargacli v-if="viewNewCli" :razsoc="model.razSoc"></cargacli>
				
					<!-- ===============  FINALIZACIÓN CARGA DE CLIENTE  =================== -->
					
					<fincargacli v-if="viewUpCli" :razsoc="model.razSoc"></fincargacli>
					
					<!-- ===============  CAPTURA DE ERROR  =================== -->
					
					<capturaerro v-if="viewErro" :erro="model.erroIntegracion"></capturaerro>
				
				
							
					
					<!-- ===============  FORMULARIO ESTANDAR  =================== -->	

					<v-form v-if="!viewNewCli&&!viewErro" ref="formvue" v-model="valid" lazy-validation>

					
						<!-- ===============   BOTONES DE VALIDACION PLAZOS Y PRECIOS =================== -->
				
						<btnvldpp
							:valp="viewValP"
							:validp="model.validP"
							@setvalidplazo="setValidPlazo"
						></btnvldpp>

						<!-- ===============   BOTONES DE APROBACION COMERCIAL =================== -->
						
						<btnaprobcom 
							:aprcom="viewAprCom"
							:comercialapprov="model.comercial_approv"
							@setcomaprov="setComercialApproved"
						></btnaprobcom>
						
						<!-- ===============   DATOS DE CABECERA  =================== -->

						
						<v-card  class="mx-3 mb-3 d-flex justify-center align-center"> 
							
							<div style="width: 90%;">

							
								<v-row>
									
									<v-card-title>
										Datos Generales
									</v-card-title>
								
								<v-spacer></v-spacer>

									<v-btn class="mt-4 mr-2" variant="tonal" @click="openCloseDialog(true)" v-show="!viewMode" >
										Ver Historial
									</v-btn>
									
								<v-btn v-if="validaRevision()" class="mt-4 mr-2" variant="tonal" @click="imprimir(false)" v-show="!viewFirst&!viewPlazo" >
										Descargar Cotización .PDF
									</v-btn>
									
								<v-btn v-if="validaRevision()" class="mt-4 mr-2" variant="tonal" @click="imprimir(true)" v-show="!viewFirst&!viewPlazo" >
										Descargar Of. Tecnica .PDF
									</v-btn>

								
								</v-row>
								<!-- ===============   VENTANA HISTORIAL  =================== -->
								
								<historial 
									:dialog="dialogHistorial" 
									@onclosedialog="openCloseDialog"
									@oncopycotiz="copyCotiz"
									@oncopyitem="copyItem"
									@onrevisionitem="revisionItem">
								</historial>

								<!-- ===============   FIN VENTANA DE HISTORIAL  =================== -->
								<br>
								<hr>
								<br>

								<v-row class='mb-1'>
									
									<v-col cols="12" md="3">
										<v-text-field label="Numero Cotizacion" v-model="model.numcotiz" hide-details=true disabled outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Fecha de Emision" v-model="model.fecha" hide-details disabled outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Cotización Asociada" v-model="model.cotizAsoc" hide-details disabled outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Revisión" v-model="model.revision" hide-details disabled outlined></v-text-field>
									</v-col>
								</v-row>
								
								

								<v-row class='mb-1'>

									<v-col cols="12" md="3">
										<v-select 
											label="Tipo de Cotización" type="input" :items="['Nacional', 'Comex', 'Budgetaria Nacional', 'Budgetaria Comex']" v-model="model.tipoCotiz" :disabled="viewMode" outlined 
										></v-select>
									</v-col>


									<v-col cols="12" md="2">

										<v-autocomplete label="Moneda cotización" :items="monedas" auto-select-first item-text="desc" item-value="desc"
										@change="getMonedaSelect($event)" @mousedown = "validateMoneda" v-model="model.moneda" :disabled="viewMode" outlined :rules="required" >
												
												<template v-slot:item="{ item }">
													<div>{{ item.symb }} - {{ item.desc }}</div>
												</template>
											
											</v-autocomplete>
										</v-col>

									<v-col cols="12" md="2">

									<v-autocomplete label="Moneda facturación" :items="monedas" auto-select-first item-text="desc" item-value="desc"
										@change="getMonedaSelect($event)" v-model="model.monfat" :disabled="viewMode" outlined :rules="required" >

										<template v-slot:item="{ item }">
											<div>{{ item.symb }} - {{ item.desc }}</div>
										</template>

									</v-autocomplete>
									</v-col>


									<v-col cols="12" md="2">
										
										<v-autocomplete label="Método de Pago" :items="paidmetods" auto-select-first item-text="desc" item-value="desc"
										@change="getPaidSelect($event)" v-model="model.metodoPago" :disabled="viewMode" outlined :rules="required" ></v-autocomplete>
									</v-col>

									
									<v-col v-if="this.pagAnticip()" cols="12" md="3">
										
									<v-text-field type="input" label="Contacto Administrativo" v-model="model.contactAdmin" :disabled="viewMode&&!viewGenPed" outlined :rules="required"></v-text-field>
									</v-col>


								</v-row>
								
								<v-row class='mb-1'>
									
									<v-col cols="14" md="2">

											

										<v-text-field type="input" label="Codigo Cliente" @change="getClientSelect($event)" v-model="model.codCli" hide-details :disabled="viewMode&&!viewUpCli" outlined >
										<template v-if= "viewFirst" v-slot:append-outer>
												<v-slide-x-reverse-transition
												mode="out-in">
													<v-icon
														@click="openCloseDialogCli(true)"
														v-text="'mdi-magnify'"
													></v-icon>
												</v-slide-x-reverse-transition>
											</template>



										</v-text-field>	


									</v-col>
							
							
									<v-col v-if="viewUpCli" cols="12" md="1">
										<v-icon class='mt-4' medium @click="refreshClientes(charge)">
											mdi-refresh
										</v-icon>
								
									</v-col>
									
									<v-col cols="14" md="4">
										<v-text-field type="input" label="Razón Social Cliente" v-model="model.razSoc"  :disabled="viewTrigger||viewMode" outlined :rules="required"></v-text-field>
										
									</v-col>
									
									<v-col cols="14" md="md">
										<v-text-field type="input" label="CUIT Cliente" v-model="model.CUITCli" hide-details :disabled="viewTrigger||viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="14" md="3">
																		

										<v-autocomplete label="Transportista" :items="TransMod" auto-select-first item-text="claveTrans" item-value="name"
										@change="getTransSelect($event)" v-model="model.name_trans" :disabled="viewMode" outlined :rules="required" >
											
											<template v-slot:item="{ item }">
												<div>{{ item.cod }} - {{ item.name }}</div>
											</template>
										
										</v-autocomplete>	

									</v-col>
									
									
								</v-row>
								
								<!-- ===============   DIALOG CLIENTES  =================== -->
						
									<dialogcli 
										:dialog="dialogClientes" 
										:itemsclientes="this.clientes" 
										@onclosedialog="openCloseDialogCli"
										@clientselect="clientSelect">
									</dialogcli>

								<!-- ===============   FIN DIALOG CLIENTES  =================== -->



								<v-row class='mb-1'>

									

									<v-col cols="12" md="3">
										<v-text-field type="input" label="Direccion" v-model="model.DirCli" hide-details disabled outlined></v-text-field>
									</v-col>
									
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Provincia" v-model="model.EstCli" hide-details disabled outlined></v-text-field>
									</v-col>
									
									
									<v-col cols="12" md="1">
										<v-text-field type="input" label="Tienda" v-model="model.lojaCli" hide-details disabled outlined></v-text-field>
									</v-col>
									
									
									
									
					

									<v-col cols="12" md="3">
										
										<v-autocomplete label="Lista de Precio" :items="priceList" auto-select-first item-text="cod_lista" item-value="cod_lista"
										@change="refreshPrecio($event)" v-model="model.listaPrecio"  :disabled="viewMode" outlined :rules="[valMonList()]" :messages="priceListError" ></v-autocomplete>
									</v-col>
									

								</v-row>
								
								
								<v-row class='mb-1'>
									
									<v-col cols="14" md="2">
										<v-text-field type="input" label="Descuento Cliente" v-model="model.dtoCliente" hide-details :disabled="viewMode" outlined  :rules="signo"></v-text-field>
									</v-col>
									
									<v-col cols="14" md="2">
										<v-text-field type="input" label="Descuento Adicional" v-model="model.dtoAdicional" hide-details :disabled="viewMode" outlined :rules="signo"></v-text-field>
									</v-col>
									
									<v-col cols="14" md="2">
										<v-text-field type="input" label="Referencia Cliente" v-model="model.refCli"
										hide-details :disabled="viewMode" outlined ></v-text-field>
									</v-col>

									<v-col cols="14" md="2">
										<v-text-field type="input" label="Orden de Compra Cliente" v-model="model.OcClient"
										hide-details :disabled="viewMode" outlined ></v-text-field>
									</v-col>
									
									<v-col v-if="viewConfir" cols="14" md="2">
										<v-text-field type="input" label="Plazo de entrega Global"
										@change="refreshPlazo($event)" v-model="model.plazo_ent_gbl" hide-details
										outlined :rules="[validaPlazos]"></v-text-field>
									</v-col>

									<v-col v-if="viewGenPed" cols="14" md="2">
									<v-checkbox label="Pedido Crítico " v-model="model.ped_crit" color="secondary"
										hide-details></v-checkbox>
										
									</v-col>
									<v-col v-if="viewGenPed" cols="14" md="2">
										
										<v-checkbox label="Posee Multas " v-model="model.multas" color="secondary"
										hide-details></v-checkbox>
									</v-col>
								
								
								</v-row>
							
								<v-row class='mb-1'>

									<!-- <v-col cols="14" md="2">
										<v-menu
											v-model="menu2"
											:close-on-content-click="false"
											transition="scale-transition"
											offset-y
											max-width="290px"
											min-width="auto"
										>
											<template v-slot:activator="{ on, attrs }">
											<v-text-field
												v-model="model.fechaSeg"
												label="Fecha de Seguimiento"
												persistent-hint
												append-icon="mdi-calendar"
												readonly
												v-bind="attrs"
												v-on="on"
												:disabled="!viewSeg&&!viewConfir"
												outlined
												></v-text-field>
											</template>
											<v-date-picker
											v-model="date"
											:min="minDate"
											no-title
											@change="getDate(1)"
											@input="menu2 = false"
											></v-date-picker>
										</v-menu>
									</v-col> -->

									<v-col cols="14" md="2">
										<v-text-field type="input" label="Plazo de Seguimiento" v-model="model.plazoSeg" :disabled="viewMode" outlined :rules="required" ></v-text-field>
									</v-col>

									
									<v-col cols="14" md="2">
										<v-menu
											v-model="menu3"
											:close-on-content-click="false"
											transition="scale-transition"
											offset-y
											max-width="290px"
											min-width="auto"
											>
											<template v-slot:activator="{ on, attrs }">
												<v-text-field
												v-model="model.fechaVenc"
												label="Fecha Vencimiento Cotizacion"
												persistent-hint
												append-icon="mdi-calendar"
												readonly
												v-bind="attrs"
												v-on="on"
												:disabled="viewMode"
												outlined
												></v-text-field>
											</template>
											<v-date-picker
											v-model="date2"
											no-title
											@change="getDate(2)"
											@input="menu3 = false"
											></v-date-picker>
										</v-menu>
									</v-col>

									<v-col cols="14" md="3">
										
										<v-autocomplete label="Vendedor/Zona" :items="sellersMod" auto-select-first
										item-text="claveSellers" item-value="name" v-model="model.vendedor"
										:disabled="viewMode" outlined :rules="required">
										
										<template v-slot:item="{ item }">
											<div>{{ item.name }} - {{ item.cod }} </div>
										</template>
										
										</v-autocomplete>
									
									</v-col>
								

									<v-col cols="14" md="3">

										<v-text-field type="input" label="Responsable de Venta"
											v-model="model.responsable_venta" hide-details :disabled="viewMode"
											outlined></v-text-field>

									</v-col>

									<v-col cols="14" md="2">
	
										<v-text-field type="input" label="Usuario Cotizador" v-model="model.user_cotiz"
											hide-details disabled outlined></v-text-field>
	
									</v-col>
								
								</v-row>
								
								<v-row  v-if="viewGenPed" class='mb-1'>
									
										
									<v-col cols="12" md="2">

										<v-checkbox label="Lleva Inspeccion" v-model="model.inspeccion" color="secondary"
											hide-details></v-checkbox>

									</v-col>
									
									<v-col cols="12" md="2">
	
										<v-autocomplete label="Forma de Entrega" :items="FormaEntrega" auto-select-first item-text="value" item-value="cod"
										v-model="model.forma_Entrega"  :disabled="viewMode&&!viewGenPed" outlined :rules="required" ></v-autocomplete>
	
									</v-col>
									
									<v-col cols="12" md="2">
										
										<v-autocomplete label="Tipo de Entrega" :items="tipoEntrega" auto-select-first item-text="value" item-value="cod"
										v-model="model.tipo_Entrega" :disabled="viewMode&&!viewGenPed" outlined :rules="required" ></v-autocomplete>
								</v-col>

								<v-col v-if="this.model.inspeccion" cols="12" md="3">
									
									<v-text-field type="input" label="Contacto Inspeccion" v-model="model.contactInspecc"
									hide-details :disabled="viewMode&&!viewGenPed" outlined></v-text-field>

									</v-col>
									
								</v-row>
							
							</div>		
						</v-card>
						

						<!-- ===============   ITEMS =================== -->


						<v-card  class="mx-3 mb-3 d-flex justify-center align-center flex-column">
							<div style="width: 90%;">
								<v-row>
									<v-card-title> Items </v-card-title>
								</v-row>
								<hr>
							</div>	
							
							<v-data-table :headers="headersPrincipal" :items="model.itemsPrincipal" class="elevation-1 pa-2" item-key="name" no-data-text="No hay datos" mobile-breakpoint="0" style="width:100%;" hide-default-footer disable-pagination>
								<template v-slot:item="{ item, headers }">
								<tr :class="{'SinStock': validaStock(item)}">
										<td v-for="header in headers" :key="header.value"
											:class="{'text-center': header.align === 'center', 'text-end': header.align === 'end'}">
											<template v-if="header.type === 'input'">
											<v-text-field v-if="header.value === 'codigo'"
											label="Ingrese un código"
											@change="getProdSelect(item, 'c')"
											v-model="item[header.value]" 
											:disabled="!viewFirst"
											:rules="[validaCodigo]"
											>
											</v-text-field>
											<v-textarea v-else-if="header.value === 'producto'" 
												label="Seleccione un producto" 
												:type="header.inputType" 
												@change="getProdSelect(item)" 
												v-model="item[header.value]" 
												class="text-center" 
												:disabled="header.disabled" 
												:rules="required" 
												auto-grow
												outlined
												disabled
												rows="2" 
												>
												<template v-if= "viewFirst" v-slot:append-outer>
													<v-slide-x-reverse-transition
												  		mode="out-in">
														<v-icon
															@click="openCloseDialogProd(true,item)"
															v-text="'mdi-magnify'"
													></v-icon>
													</v-slide-x-reverse-transition>
												</template>
											</v-textarea>
											<v-text-field v-else-if="header.value === 'cantidad'" :type="header.inputType" @change="totalCalc(item)" v-model="item[header.value]" :hint="[cantidadSugerida(item)]" class="text-center" :disabled="header.disabled"  :rules="[validaCantidad(item)]" :messages="infoStock(item)"></v-text-field>
											<v-text-field v-else-if="header.value === 'plazo_entrega'" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="!((item.mejora_plazo&&viewPlazo) || viewConfir)" :hint="[compruebaStock(item)]" persistent-hint></v-text-field>
											<v-text-field v-else-if="header.value === 'precio_lista' && viewPlazo" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled" v-show="header.show"></v-text-field>
											<v-text-field v-else-if="header.value === 'precio_neto' && viewPlazo" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled" v-show="header.show"></v-text-field>
											<v-text-field v-else-if="header.value === 'desc_item' && viewPlazo" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled" v-show="header.show"></v-text-field>
											<v-text-field v-else-if="header.value === 'desc_adic' && viewPlazo" :type="header.inputType" @change="totalCalc(item)" v-model="item[header.value]" class="text-center" :disabled="header.disabled" :rules="required" v-show="header.show"></v-text-field>
											<v-text-field v-else-if="header.value === 'importe' && viewPlazo" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled" v-show="header.show"></v-text-field>
											<v-text-field v-else-if="header.value === 'item'" :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled" :rules="[validaItemOC(item)]" ></v-text-field>
											<v-text-field v-else :type="header.inputType" v-model="item[header.value]" class="text-center" :disabled="header.disabled"></v-text-field>
											</template>
										

											<template v-else-if="header.type === 'checkbox'">
												<v-checkbox v-model="item[header.value]" :disabled="header.disabled" v-show="header.show"></v-checkbox>
											</template>
											
											<template v-else-if="header.type === 'icon'"> 
											<v-icon small @click="deleteItem(item)" v-show="!viewMode">
												mdi-delete
											</v-icon>
											</template>

											<template v-else>
												{{ item[header.value] }}
											</template>
										</td>
									</tr>
								</template>

							</v-data-table>


							<!-- ===============   DIALOG PRODUCTOS  =================== -->
							
							
							<dialogprod 
								:dialog="dialogProductos" 
								:itemsproductos="this.productos" 
								@onclosedialog="openCloseDialogProd"
								@productselect="productSelect">
							</dialogprod>

							<!-- ===============   FIN DIALOG PRODUCTOS  =================== -->
							
							<div v-if="viewGenPed" class="pa-3 d-flex justify-end"  style="width: 100%;">
								<v-btn class="bg-primary mx-5"  @click="marcarItemsGanados()">
									{{nombremd}} items
								</v-btn>
							</div>

								
								<div v-if="!viewMode" class="pa-3 d-flex justify-end"  style="width: 100%;">
									<v-btn class="bg-primary mx-5" id="btnAprueba" value="aprobado" @click="addItemPrincipal()">
									Agregar
									</v-btn>
								</div>

						
								<div style="text-align: right; width: 100%;">
									<v-divider></v-divider>

									<div class="pa-3 d-flex justify-end"  style="width: 90%;">
										<h2>Subtotal  {{sumSubTotal('precio_lista', 'cantidad')}}</h2>
									</div>
				
									<v-divider></v-divider>
									
									<div class="pa-3 d-flex justify-end"  style="width: 90%;">
										<h2>Total  {{sumTotal('importe')}}</h2>
									</div>
								</div>

						</v-card>




						<!-- ===============   COMEX =================== -->
						

						<v-card v-if="model.tipoCotiz == 'Comex' || model.tipoCotiz == 'Budgetaria Comex'"  class="mx-3 mb-3 d-flex justify-center align-center"> 
							
							<div style="width: 90%;">
								
								<v-card-title> COMEX </v-card-title>

								<hr>
								<br>

								<v-row class='mb-6'>
									<v-col cols="12" md="6">
										<v-text-field type="input" label="Ciudad" v-model="model.comex_ciudad" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="6">
										<v-text-field type="input" label="Pais" v-model="model.comex_pais" hide-details=true :disabled="viewMode" outlined></v-text-field>
									</v-col>
								</v-row>
								
								<v-row class='mb-6'>
									
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Gastos Administrativos" v-model="model.comex_gastosadm" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="NCM" v-model="model.comex_ncm" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Incoterms" v-model="model.comex_incoterms" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Aduana" v-model="model.comex_aduana" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>


								</v-row>


								<v-row class='mb-6'>	


									<v-col cols="12" md="4">
										<v-text-field type="input" label="Peso" v-model="model.comex_peso" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>

									<v-col cols="12" md="4">
										<v-text-field type="input" label="Volumen" v-model="model.comex_vol" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="4">
										<v-text-field type="input" label="Tipo Flete" v-model="model.comex_flete" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>

								</v-row>

								<v-row class='mb-6'>

									<v-col cols="12" md="3">
										<v-text-field type="input" label="Valor Flete Local" v-model="model.comex_valfleteloc" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>

									<v-col cols="12" md="3">
										<v-text-field type="input" label="Valor Flete Internacional" v-model="model.comex_valfleteint" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Valor Seguro" v-model="model.comex_valseg" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Valor FOB" v-model="model.comex_valfob" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
								</v-row>

								
							</div>
						</v-card>
						
						<!-- ===============   INFORMACION ADICIONAL =================== -->
						

						<v-card class="mx-3 mb-3 d-flex justify-center align-center"> 
							
							<div style="width: 90%;">
								
								<v-card-title> Informacion Adicional </v-card-title>

								<hr>
								<br>
					
								<v-row class='mb-6'>
									
									
									<v-col cols="12" md="4">
										<v-text-field type="input" label="Nombre de contacto" v-model="model.adic_nomecontact" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Email de contacto" v-model="model.adic_emailcontact" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="3">
										<v-text-field type="input" label="Telefono de contacto" v-model="model.adic_phonecontact" hide-details :disabled="viewMode" outlined></v-text-field>
									</v-col>
									
									<v-col cols="12" md="2">
										<v-text-field type="input" label="Plazo de Validez (dias)" v-model="model.adic_plazoValidez" hide-details :disabled="viewMode&&!viewValP" outlined></v-text-field>
									</v-col>
									
									
								</v-row>


								<v-row class='mb-6'>	
									<template>
										<v-container fluid>
											<v-textarea label="Observaciones Imprimibles" v-model="model.adic_obsImp" :disabled="viewMode" outlined></v-textarea>
										</v-container>
										<v-container fluid>
											<v-textarea label="Observaciones Internas" v-model="model.adic_obsInt" :disabled="viewMode" outlined></v-textarea>
										</v-container>
									</template>
									
								</v-row>

																
							</div>
						</v-card>

						<!-- ===============   DETALLES =================== -->
						
						<v-card class="mx-3 mb-3 d-flex justify-center align-center">
							<v-form class="mt-5" style="width: 90%;">
								<v-card-title>
									Detalles
								</v-card-title>
								<hr>
								<br>
								<v-row>
									<template>
										<v-container fluid>
											<v-textarea label="Observaciones generales" v-model="model.obsGen" :disabled="viewMode" outlined></v-textarea>
										</v-container>
										<v-container fluid>
											<v-textarea label="Observaciones comercial" v-model="model.obsCom" :disabled="viewMode" outlined></v-textarea>
										</v-container>
									</template>

								</v-row>
								

								
							</v-form>

						</v-card>


					<!-- ===============   DETALLES  PEDIDO =================== -->

					<v-card v-if="viewGenPed" class="mx-3 mb-3 d-flex justify-center align-center">
						<v-form class="mt-5" style="width: 90%;">
							<v-card-title>
								Detalles Pedido
							</v-card-title>
							<hr>
							<br>
							<v-row>
								<template>
									<v-container fluid>
										<v-textarea label="Observaciones internas" v-model="model.obsInt" outlined></v-textarea>
									</v-container>
									<v-container fluid>
										<v-textarea label="Observaciones despacho" v-model="model.obsDesp" outlined></v-textarea>
									</v-container>
									<v-container fluid>
										<v-textarea label="Observaciones facturación" v-model="model.obsFact" outlined></v-textarea>
									</v-container>
								</template>

							</v-row>



						</v-form>

					</v-card>


						<!-- ===============   SEGUIMIENTO =================== -->
						
					<v-card  v-if="!(this.viewFirst||this.viewPlazo||this.viewConfir||this.viewGenPed)" class="mx-3 mb-3 d-flex justify-center align-center" >
							<v-form class="mt-5" style="width: 90%;">
								<v-card-title>
									Seguimiento
								</v-card-title>

								<v-row>
									<template>
										<v-container style="max-width: 90%;">
											<v-timeline dense clipped disabled>
												<v-timeline-item fill-dot class="white--text mb-12" color="red" large v-show="viewSeg">
													<template v-slot:icon>
													</template>
													<v-text-field v-model="model.inputSeg" hide-details flat label="Realizar una observacion de seguimiento..." solo @keydown.enter="comment">
														<template v-slot:append>
															<v-btn class="mx-0" depressed @click="comment">
															Enviar
															</v-btn>
														</template>
													</v-text-field>
												</v-timeline-item>
										
												<v-slide-x-transition	group >
													<v-timeline-item v-for="event in timeline" :key="event.id" class="mb-4" color="grey"  small>
														<v-row justify="space-between">
															<v-col cols="7" v-text="event.text">

															</v-col>
															<v-col class="text-right" cols="5" v-text="event.time">
																
															</v-col>
														</v-row>
													</v-timeline-item>
												</v-slide-x-transition>
										
																							
	

											</v-timeline>
										</v-container>

									</template>
								</v-row>
							</v-form>
						</v-card>

					</v-form>

				</v-main>
		    </v-app>
		  </div>			
			
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/v-mask@2.3.0/dist/v-mask.min.js"></script> -->
		  
		  	<script src="./js/vue.js"></script>
			<script src="./js/vuetify.js"></script>
			<script src="./js/vuex.min.js"></script>
			<script src="./js/v-mask.min.js"></script>
		  
		  <script src="/portal/resources/js/jquery/jquery.js"></script>
		  <script src="/portal/resources/js/jquery/jquery-ui.min.js"></script>
		  <script src="/portal/resources/js/mustache/mustache-min.js"></script>
		  
		  <script src="/tot-marvin-v1/ui/tot-marvin-ui.min.js"></script>
		  <script type="text/javascript" src="/webdesk/vcXMLRPC.js" charset="utf-8"></script>
		  <script src="utils.js"></script>
		  <!-- 		  <script src="vue-datetime.js"></script> -->
		  <script src="cHeader.js"></script>
		  <script src="cForm.js"></script>
		  <script src="cTabla.js"></script>
	      <script src="custom.js"></script>
	      <script src="cCarga.js"></script>
	      <script src="cFinCarga.js"></script>
		  <script src="cDialog.js"></script>
		  <script src="cDialogCli.js"></script>
		  <script src="cDialogProd.js"></script>
		  <script src="cCapErro.js"></script>
		  <script src="cBtnAprobCom.js"></script>
		  <script src="cBtnVldPP.js"></script>
	
		  <style type="text/css">
		    .text-right .v-text-field__slot input {
		      text-align: right;
		    }
		  </style>
		  
		  <style scoped>
			.filtro {
			  box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2), 
			  			  0px 0px 1px 0px rgba(0, 0, 0, 0.14), 
			  			  0px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
			}
		  </style>
	</body>
</html>