<!DOCTYPE html>
<html lang="es">
	<head>
	  <title>Form</title>
	  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<!-- 	  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
<!-- 	  <script type="text/javascript" src="/webdesk/vcXMLRPC.js" charset="utf-8"></script> -->
	<link href="./css/vuetify.min.css" rel="stylesheet">
	  <link href="./css/materialdesignicons.min.css" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	  <meta charset="UTF-8">
	</head>
 	<body>
		  <div id="app">
		    <form id="totForm" name="totForm">
		      <input type="hidden" name="__error" id="__error" />
			  <input type="hidden" name="numero_cotizacion" id="numero_cotizacion" ref="numero_cotizacion"/>
			  <input type="hidden" id="jsonModel_1" name="jsonModel_1" ref="jsonModel_1"></input>
			  <input type="hidden" id="jsonModel_2" name="jsonModel_2" ref="jsonModel_2"></input>
			  <input type="hidden" id="jsonModel_3" name="jsonModel_3" ref="jsonModel_3"></input>
			  <input type="hidden" id="jsonModel_4" name="jsonModel_4" ref="jsonModel_4"></input>
			  <input type="hidden" id="jsonModel_5" name="jsonModel_5" ref="jsonModel_5"></input>
			  <input type="hidden" id="jsonModel_6" name="jsonModel_6" ref="jsonModel_6"></input>
			  <input type="hidden" id="jsonModel_7" name="jsonModel_7" ref="jsonModel_7"></input>
			  <input type="hidden" id="jsonModel_8" name="jsonModel_8" ref="jsonModel_8"></input>
			  <input type="hidden" id="jsonModel_9" name="jsonModel_9" ref="jsonModel_9"></input>
			  <input type="hidden" id="jsonModel_10" name="jsonModel_10" ref="jsonModel_10"></input>
			  <input type="hidden" id="jsonModel_11" name="jsonModel_11" ref="jsonModel_11"></input>
			  <input type="hidden" id="jsonModel_12" name="jsonModel_12" ref="jsonModel_12"></input>
			  <input type="hidden" id="jsonModel_13" name="jsonModel_13" ref="jsonModel_13"></input>
			  <input type="hidden" id="jsonModel_14" name="jsonModel_14" ref="jsonModel_14"></input>
			  <input type="hidden" id="jsonModel_15" name="jsonModel_15" ref="jsonModel_15"></input>
			  <input type="hidden" id="jsonModel_16" name="jsonModel_16" ref="jsonModel_16"></input>
			  <input type="hidden" id="jsonModel_17" name="jsonModel_17" ref="jsonModel_17"></input>
			  <input type="hidden" id="jsonModel_18" name="jsonModel_18" ref="jsonModel_18"></input>
			  <input type="hidden" id="jsonModel_19" name="jsonModel_19" ref="jsonModel_19"></input>
			  <input type="hidden" id="jsonModel_20" name="jsonModel_20" ref="jsonModel_20"></input>
			  <input type="hidden" id="jsonModel_21" name="jsonModel_21" ref="jsonModel_21"></input>
			  <input type="hidden" id="jsonModel_22" name="jsonModel_22" ref="jsonModel_22"></input>
			  <input type="hidden" id="jsonModel_23" name="jsonModel_23" ref="jsonModel_23"></input>
			  <input type="hidden" id="jsonModel_24" name="jsonModel_24" ref="jsonModel_24"></input>
			  <input type="hidden" id="jsonModel_25" name="jsonModel_25" ref="jsonModel_25"></input>
			  <input type="hidden" id="jsonModel_26" name="jsonModel_26" ref="jsonModel_26"></input>
			  <input type="hidden" id="jsonModel_27" name="jsonModel_27" ref="jsonModel_27"></input>
			  <input type="hidden" id="jsonModel_28" name="jsonModel_28" ref="jsonModel_28"></input>
			  <input type="hidden" id="jsonModel_29" name="jsonModel_29" ref="jsonModel_29"></input>
			  <input type="hidden" id="jsonModel_30" name="jsonModel_30" ref="jsonModel_30"></input>
		    </form>
			
		    <v-app>
		      <v-main>
				<!-- ===============   DATOS DE CABECERA  =================== -->

				
			    <v-card  class="mx-3 mb-3 d-flex justify-center align-center"> 
					
					<v-form class="mt-5" style="width: 90%;">
						
						<v-card-title>Datos Generales</v-card-title>

						<hr>
						<br>

						<v-row class='mb-6'>
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Fecha de Emision" v-model="model.fecha" hide-details disabled outlined></v-text-field>
							</v-col>

						</v-row>
						
						<v-row class='mb-6'>
							
							<v-col cols="12" md="4">
								<v-text-field label="Numero Cotizacion" v-model="model.numcotiz" hide-details=true disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Cotización Asociada" v-model="model.cotizAsoc" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Revisión" v-model="model.revision" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>

						</v-row>


						<v-row class='mb-6'>

							<v-col cols="12" md="4">
								<v-select 
									label="Tipo de Cotización" type="input" :items="['Nacional', 'Comex', 'Budgetaria Nacional', 'Budgetaria Comex']" v-model="model.tipoCotiz" outlined
								></v-select>
							</v-col>


							<v-col cols="12" md="4">
								<v-text-field type="input" label="Moneda" v-model="model.moneda" hide-details disabled outlined></v-text-field>
							</v-col>

							<v-col cols="12" md="4">
								<v-text-field type="input" label="Método de Pago" v-model="model.metodoPago" hide-details disabled outlined></v-text-field>
							</v-col>

						</v-row>

						<v-row class='mb-6'>

							<v-col cols="12" md="4">
								<v-text-field type="input" label="Fecha de Seguimiento" v-model="model.fechaSeg" hide-details disabled outlined></v-text-field>
							</v-col>

							<v-col cols="12" md="4">
								<v-text-field type="input" label="Plazo de Seguimiento" v-model="model.plazoSeg" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>
						</v-row>

						<v-row class='mb-6'>
							
							<v-col cols="12" md="4">
								<!-- <v-text-field type="input" label="Codigo Cliente" v-model="model.codCli" hide-details :disabled="viewMode" outlined></v-text-field> -->

								<v-autocomplete label="Codigo Cliente" :items="clientes" auto-select-first item-text="cod" item-value="cod"
								@change="getClientSelect($event)" v-model="model.codCli" hide-details=true :disabled="viewMode" outlined ></v-autocomplete>

							</v-col>
							
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Razón Social Cliente" v-model="model.razSoc" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="4">
								<v-text-field type="input" label="CUIT Cliente" v-model="model.CUITCli" hide-details disabled outlined></v-text-field>
							</v-col>
							
							
							
						</v-row>
						
						<v-row class='mb-6'>
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Código Vendedor" v-model="model.codVendedor" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Descuento Cliente" v-model="model.dtoCliente" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>

							<v-col cols="12" md="4">
								<v-text-field type="input" label="Descuento Adicional" v-model="model.dtoAdicional" hide-details :disabled="viewMode" outlined></v-text-field>
							</v-col>
						</v-row>
					</v-form>
				</v-card>
				

				<!-- ===============   COMEX =================== -->
				

				<v-card v-if="model.tipoCotiz == 'Comex' || model.tipoCotiz == 'Budgetaria Comex'"  class="mx-3 mb-3 d-flex justify-center align-center"> 
					
					<v-form class="mt-5" style="width: 90%;">
						
						<v-card-title> COMEX </v-card-title>

						<hr>
						<br>

						<v-row class='mb-6'>
							<v-col cols="12" md="6">
								<v-text-field type="input" label="Ciudad" v-model="model.comex_ciudad" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="6">
								<v-text-field type="input" label="Pais" v-model="model.comex_pais" hide-details=true :disabled="viewMode" outlined></v-text-field>
							</v-col>
						</v-row>
						
						<v-row class='mb-6'>
							
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="Gastos Administrativos" v-model="model.comex_gastosadm" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="NCM" v-model="model.comex_ncm" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="Incoterms" v-model="model.comex_incoterms" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="Aduana" v-model="model.comex_aduana" hide-details disabled outlined></v-text-field>
							</v-col>


						</v-row>


						<v-row class='mb-6'>	


							<v-col cols="12" md="4">
								<v-text-field type="input" label="Peso" v-model="model.comex_peso" hide-details disabled outlined></v-text-field>
							</v-col>

							<v-col cols="12" md="4">
								<v-text-field type="input" label="Volumen" v-model="model.comex_vol" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="4">
								<v-text-field type="input" label="Tipo Flete" v-model="model.comex_flete" hide-details disabled outlined></v-text-field>
							</v-col>

						</v-row>

						<v-row class='mb-6'>

							<v-col cols="12" md="3">
								<v-text-field type="input" label="Valor Flete Local" v-model="model.comex_valfleteloc" hide-details disabled outlined></v-text-field>
							</v-col>

							<v-col cols="12" md="3">
								<v-text-field type="input" label="Valor Flete Internacional" v-model="model.comex_valfleteint" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="Valor Seguro" v-model="model.comex_valseg" hide-details disabled outlined></v-text-field>
							</v-col>
							
							<v-col cols="12" md="3">
								<v-text-field type="input" label="Valor FOB" v-model="model.comex_valfob" hide-details disabled outlined></v-text-field>
							</v-col>
						</v-row>

						
					</v-form>
				</v-card>




		      </v-main>
		    </v-app>
		  </div>			
			
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
		  <!-- <script src="https://cdn.jsdelivr.net/npm/v-mask@2.3.0/dist/v-mask.min.js"></script> -->
		  
		  	<script src="./js/vue.js"></script>
			<script src="./js/vuetify.js"></script>
			<script src="./js/vuex.min.js"></script>
			<script src="./js/v-mask.min.js"></script>
		  
		  <script src="/portal/resources/js/jquery/jquery.js"></script>
		  <script src="/portal/resources/js/jquery/jquery-ui.min.js"></script>
		  <script src="/portal/resources/js/mustache/mustache-min.js"></script>
		  
		  <script src="/tot-marvin-v1/ui/tot-marvin-ui.min.js"></script>
		  <script type="text/javascript" src="/webdesk/vcXMLRPC.js" charset="utf-8"></script>
		  <script src="utils.js"></script>
		  <!-- 		  <script src="vue-datetime.js"></script> -->
		  <script src="cHeader.js"></script>
		  <script src="cForm.js"></script>
		  <script src="cTabla.js"></script>
	      <script src="custom.js"></script>
	
		  <style type="text/css">
		    .text-right .v-text-field__slot input {
		      text-align: right;
		    }
		  </style>
		  
		  <style scoped>
			.filtro {
			  box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2), 
			  			  0px 0px 1px 0px rgba(0, 0, 0, 0.14), 
			  			  0px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
			}
		  </style>
	</body>
</html>